{namespace neos=Neos\Neos\ViewHelpers}

<div class="open" id="oeffnungszeiten">
        <neos:contentElement.editable property="open" tag="h2" class="open-title"/>
    <div class="all">
        <table>
            <tbody class="table-open-big">
            <tr class="days">
                <td>
                    <neos:contentElement.editable property="day-1" class="day"/>
                </td>
                <td>
                    <neos:contentElement.editable property="hours-1" class="hours"/>
                </td>
                <td>
                    <neos:contentElement.editable property="day-4" class="day"/>
                </td>
                <td>
                    <neos:contentElement.editable property="hours-4" class="hours"/>
                </td>
            </tr>
            <tr class="days">
                <td>
                    <neos:contentElement.editable property="day-2" class="day"/>
                </td>
                <td>
                    <neos:contentElement.editable property="hours-2" class="hours"/>
                </td>
                <td>
                    <neos:contentElement.editable property="day-5" class="day"/>
                </td>
                <td>
                    <neos:contentElement.editable property="hours-5" class="hours"/>
                </td>
            </tr>
            <tr class="days">
                <td>
                    <neos:contentElement.editable property="day-3" class="day"/>
                </td>
                <td>
                    <neos:contentElement.editable property="hours-3" class="hours"/>
                </td>
                <td>
                    <neos:contentElement.editable property="day-6" class="day"/>
                </td>
                <td>
                    <neos:contentElement.editable property="hours-6" class="hours"/>
                </td>
            </tr>
            </tbody>
            <tbody class="table-open-small">
            <tr class="days">
                <td>
                    <neos:contentElement.editable property="day-1" class="day"/>
                </td>
                <td>
                    <neos:contentElement.editable property="hours-1" class="hours"/>
                </td>
            </tr>
            <tr class="days">
                <td>
                    <neos:contentElement.editable property="day-4" class="day"/>
                </td>
                <td>
                    <neos:contentElement.editable property="hours-4" class="hours"/>
                </td>
            </tr>
            <tr class="days">
                <td>
                    <neos:contentElement.editable property="day-2" class="day"/>
                </td>
                <td>
                    <neos:contentElement.editable property="hours-2" class="hours"/>
                </td>
            </tr>
            <tr class="days">
                <td>
                    <neos:contentElement.editable property="day-5" class="day"/>
                </td>
                <td>
                    <neos:contentElement.editable property="hours-5" class="hours"/>
                </td>
            </tr>
            <tr class="days">
                <td>
                    <neos:contentElement.editable property="day-3" class="day"/>
                </td>
                <td>
                    <neos:contentElement.editable property="hours-3" class="hours"/>
                </td>
            </tr>
            <tr class="days">
                <td>
                    <neos:contentElement.editable property="day-6" class="day"/>
                </td>
                <td>
                    <neos:contentElement.editable property="hours-6" class="hours"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="appointment">
        <neos:contentElement.editable property="appointment"/>
        <span class="phone-number">Telefon: <a href="tel:00497051962664">0 70 51 / 962 664</a></span>
    </div>
</div>





