
figcaption {
  font-size: 70%;
  padding: 1%;
  text-align: center;
}

figure .neos-alignment-center {
  text-align: center;
}

figure .neos-alignment-left {
  float: left;
  margin-right: 5%;
}

figure .neos-alignment-right {
  float: right;
  margin-left: 5%;
}